    /*
PKN-kleuren:
Rood:       #CF3835     rgb(207, 56, 53)
Oranje:     #E98C00     rgb(233, 140, 0)
Donkerroze: #BB3288     rgb(184, 50, 136) 
*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    font-family:    Verdana, "DejaVu Sans", sans-serif;
    font-size:      1em;
    height:         95%;
    margin:         0 auto;
}

.hidden {
    display:        none;
}

fieldset {
    border:         none;
    border-bottom:  solid #C5C7C9 1px;
    padding:        1.2em;
    padding-top:    1.4em;
    max-width:      60%;
    margin:         0 15% 2em 15%;
}

.bestellingstekst {
    background-color: #CEF3A4;
    border:         solid 4px #5d9f11;
    clear:          both;
    margin-top:     1em;
    padding:        0.5em 2em;
    overflow:       auto;
    height:         10em;
}

H3 {
    clear:          both;
    color:          #CF3835;
    float:          left;
    margin-top:     1em;
    margin-bottom:  0;
    padding:        0.2em 0.2em 0.2em 0;
    font-size:      1.4em;
    font-weight:    normal;
}

H4 {
    margin-bottom:  0;
    margin-top:     0;
}

header {
    margin-top:     3em;
    margin-bottom:  1.2em;
    padding:        0 6em 0 6em;
}

input, select, textarea {
    border:         solid grey 1px;
	float:          left;
    font-size:      0.9em;
    vertical-align: middle;
}

input:focus, select:focus, textarea:focus {
    border:         solid #E98C00 1px;
    box-shadow:     0 0 4px #E98C00;
}

label {
	float: left;
	margin-left: 0.5em;
    vertical-align: middle;
}

legend {
    color:          #CF3835;
    padding:        0.2em 0.2em 0.2em 0;
    font-size:      1.4em;
}

legend + * {
    clear:          both;
}

.Question {
    clear:          left;
    float:          left;
    font-weight:    bold;
    margin:         0.2em 0.2em 0.2em 0;
    vertical-align: top;
    min-width:      180px;
}

.Answer {
    clear:          right;
    float:          left;
    margin:         0.2em 0.2em 0.2em 0;
}

.SubAnswer {
	clear:			both;
	float:			left;
	margin:			0.2em 0.2em 0.2em 3em;
}

.Nav {
    list-style:     none;
    background-color: #E98C00;
    margin-top:     0;
    padding:        0.5em 0% 0.5em 15%;
}

.Nav li {
    background-color: #E98C00;
    color:          white;
    display:        inline;
    font-size:      0.8em;
    font-weight:    bold;
    padding:        0.3em 1em 0.3em 1em;
}

.Nav li:hover {
    background-color: #BB3288;
    cursor:         pointer;
}

.Quicklinks {
    background-color: #F4E0ED;
    list-style:     none;
    margin-top:     0;
    float:          left;
    height:         68%;
    padding:        0.5em 0% 0.5em 0.5em;
    width:          15%;
}

.Quicklinks li {
    color:          #D62F86;
    font-size:      0.8em;
    max-width:      12%;
    padding:        0.3em 1em 0.3em 1em;
}

.Quicklinks li:hover {
    cursor:         pointer;
    font-weight:    bold;
    max-width:      12%;
}

#Kosten {
    display:        none;
    background-color: #DDD;
    float:          right;
    font-size:      0.8em;
    margin-right:   0.5em;
    margin-top:     2em;
    width:          18%;
    padding:        0.3em 1em 0.5em 1em;
}

.product {
    display:        none;
}
.price {
    float:          right;
}

.error {
	color: 			red;
    background-color: white;
	font-size:		0.8em;
	font-weight:	bold;
	margin-left:	1em;
}

.invalid {
    border-color:   red;
    box-shadow:     0 0 4px red;
}

p {
    clear:          both;
    margin-top:     0em;
    margin-bottom:  1em;
}

th {
    text-align:     left;
}

.blankoption {
    color:          black;
    font-weight:    bold;
}

.Help, .Belangrijk {
    background-color: rgb(250, 237, 245);
    border:         1px solid #BB3288;
    border-radius:  0.5em;
    box-shadow:     inset 0 0 4px #BB3288;
    clear:          left;
    display:        none;
    float:          left;
    font-size:      0.8em;
    padding:        1em 1em 0.4em;
    margin:         0em auto;
    /*width:          620px;*/
}

.Belangrijk {
    background-color: rgb( 255, 236, 236);
    border:         1px solid red;
    box-shadow:     inset 0 0 4px red;
}

hr {
    background-color: white;
    border:         0;
    color:          white;
    height:         1px;
}

.Link {
    color:          blue;
    cursor:         pointer;
    text-decoration: underline;
}

::selection {
    color:          white;
    background-color: rgb(164, 50, 136);
}
::-moz-selection {
    color:          white;
    background-color: rgb(164, 50, 136);
}

.bestellingstekst ::selection {
    color:          white;
    background-color: #305A00;
}
.bestellingstekst ::-moz-selection {
    color:          white;
    background-color: #305A00;
}

.Uitroepteken {
    background-color: red;
    border:         solid 2px white;
    border-radius:  0em;
    color:          white;
    cursor:         pointer;
    font-size:      0.8em;
    font-weight:    bold;
    padding-left:   0.4em;
    padding-right:  0.4em;
    width:          1em;
}

.Uitroep {
    color:          blue;
    cursor:         pointer;
    font-size:      0.8em;
    text-decoration: underline;
}

.Uitroep:hover {
    color:          red;
    text-decoration: underline;
}

.Vraagteken {
    background-color: #B83288;
    border:         solid 1px white;
    border-radius:  1em;
    box-shadow:     0 0 0 1px #B83288;
    clear:          right;
    color:          white;
    cursor:         pointer;
    float:          left;
    font-size:      0.8em;
    font-weight:    bold;
    margin-left:    0.6em;
    padding-left:   0.3em;
    padding-right:  0.3em;
    vertical-align: bottom;
}

.Sluiten {
    background-color: #BB3288;
    border:         1px solid white;
    border-radius:  0.5em;
    color:          white;
    cursor:         pointer;
    float:          right;
    font-size:      0.8em;
    font-weight:    bold;
    padding:        0.3em 1em;
}

.Sluiten:hover{
    background-color: rgb(217, 117, 182);
}

.Sluiten:active {
    -webkit-transform: translate(1px,1px);
    -ms-transform:  translate(1px,1px);
    -o-transform:   translate(1px,1px);
    transform:      translate(1px,1px);
}

.Toelichting {
    font-size:      0.8em;
}

.navButton {
    background-color: #666;
    border:         1px solid white;
    border-radius:  0.4em;
    color:          white;
    cursor:         pointer;
    font-size:      0.8em;
    font-weight:    bold;
    margin-top:     2em;
    padding:        0.3em 1em;
}

.goBack {
    float:          left;
    clear:          left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.goBack:active {    /* gelijk aan input */
    border:         1px solid #E98C00;
    box-shadow:     0 0 4px #E98C00;
}
    
.goNext {
    float:          right;
    font-family:    Verdana,"DejaVu Sans",sans-serif !important; /* override browser settings for input */
}

.navButton:hover{
    background-color: #444;
}

.navButton:active {
    background-color:#333;
    -webkit-transform: translate(1px,1px);
    -ms-transform:  translate(1px,1px);
    -o-transform:   translate(1px,1px);
    transform:   translate(1px,1px);
}

.button {
    background-color: #666;
    border:         1px solid white;
    border-radius:  0.4em;
    color:          white;
    cursor:         pointer;
    font-size:      0.6em;
    font-weight:    bold;
    padding:        0.2em 1em;
    -webkit-transform: translate(1px,1px);
    -ms-transform:  translate(1px,1px);
    -o-transform:   translate(1px,1px);
    transform:      translate(1px,1px);
}

.star {
    color: red;
	cursor: default;
	font-weight: bold;
}

.starcomment {
    clear: both;
	float: left;
	font-size: 0.8em;
	margin-top: 2em;
}

/* OwnLine is question op eigen regel en antwoorden eronder, moet div zijn, geen span! */
.ownLine {
	float: none;
	clear: both;
	padding-top: 1em;
}

.ownLineA {
    float: none;
    clear: both;
}

.newSection {
    padding-top: 1em;
}

.answersCat {
    clear: left;
    float: left;
    font-style: italic;
}

.Hmaand {
    float: left;
    margin-left: 2em;
    width: 9em;
}

.submitButton {
    float:          left;
    margin:         1em 2em 2em 0;
    padding:        .6em 1.1em;
    background-color: #5d9f11;
    border:         1px solid transparent;
    border-color:   #528d0f;
    border-radius:  3px;
    color:          #fff;
    cursor:         pointer;
    font-size:      14px;
    font-weight:    bold;
    text-align:     center;
    vertical-align: middle;
}

.submitButton:focus {
	background-color: #458100 /*#286090;*/
	border-color:   #505A00;
}

.submitButton:hover {
	background-color:#458100;
	border-color:   #505A00;
}

.submitButton:active {
	background-color:#458100;
	border-color:   #505A00;
    -webkit-transform: translate(3px,3px);
    -ms-transform:  translate(3px,3px);
    -o-transform:   translate(3px,3px);
    transform:      translate(1px,1px);
}

.HelpItem {
    margin-bottom:  1em;
}

.HelpItem:hover {
    cursor: pointer;
    text-decoration: underline;
}

.HelpDiv {
    display: none;
}

.noScriptWarning {
    background-color: #F75D59;
    border: 5px solid red;
    border-radius: 0.5em;
    padding: 1em;
}

.errorCheckAS {
    background-color: #F75D59;
    border: 5px solid red;
    border-radius: 0.5em;
    clear: both; 
    float: left; 
    margin-left: 180px; 
    margin-bottom: 1em;
    padding: 1em;
}

/* test pulsate animation */
@-webkit-keyframes pulsate{
	0%{
		opacity:0;
		filter:alpha(opacity=0);
	}

	50%{
		opacity:1;
		filter:alpha(opacity=100);
	}

	100%{
		opacity:0;
		filter:alpha(opacity=0);
	}

}

@-ms-keyframes pulsate{
	0%{
		opacity:0;
		filter:alpha(opacity=0);
	}

	50%{
		opacity:1;
		filter:alpha(opacity=100);
	}

	100%{
		opacity:0;
		filter:alpha(opacity=0);
	}

}

@keyframes pulsate{
	0%{
		opacity:0;
		filter:alpha(opacity=0);
	}

	50%{
		opacity:1;
		filter:alpha(opacity=100);
	}

	100%{
		opacity:0;
		filter:alpha(opacity=0);
	}

}

/* error container */
#errorBox {
	background: rgba(255,0,0,0.7);
    border-radius: 1em;
	color:#fff;
    display: none;
    left: 50%;
    margin: auto;
    margin-left: -300px; /* half the width */
    padding: 10px;
    position: fixed;
    top: 1%;
    width: 600px;
    z-index: 100;
    pointer-events: none;
}
 
/* title */
#errorBox h2 {
	color:white;
    pointer-events: none;
}

/* indicate question failing validation*/
.wrongAnswer {
    animation: 1s ease-out 0s normal none infinite pulsate;
}

/* extra opties bij twee bestellingen SK pas tonen indien van toepassing */
.BLDLA {
    display: none;
}

.selectieCat {
    font-weight: bold;
    font-size: 0.8em;
    font-style: italic;
    clear: both;
    margin-bottom: 0;
}

.SelExpl {
    font-size: 0.8em;
}

input[name='SelectieLeeftijd']{
    width: 4em;
}