body {
    padding: 0 10%;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

h2, h3, span, input, label, p {
    float: left
}

h2, h3, p {
    clear: both;
    margin-bottom: 0;
}

fieldset {
    border-radius: 0.4em;
    background-color: #DDD;
    padding: 2em 5%;
    margin-top: 5%;
}

legend {
/*    -ms-transform: translate(-70%, 60%) rotate(320deg); /* IE 9 */
/*    -webkit-transform: translate(-70%, 60%) rotate(320deg); /* Chrome, Safari, Opera */
/*    transform: translate(-70%, 60%) rotate(320deg);
*/
    font-size: 1.2em;
    font-weight: bold;
    background-color: #AAA;
    color: black;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em 1em;
}

.noPointerEvents {
    pointer-events: none; /* so it doesn't mess up drag events for parent */
}

.hidden {
    display: none;
}

.label {
    clear: left;
    width: 35%;
}

#humanReadableDate {
    color: black; /* readable while inactive */
    width: 14em;
}

#loadError {
    color: red;
    font-weight: bold;
    clear: both;
}

#reset, #getzip {
    width: 6.5em;
}

#dropTarget {
    padding: 0;
    font-size: 3em;
    color: #555;
}

.dragInside {
    background-color: #AAA;
    border: 5px dashed #555;
}

/* ===========
 *   PREVIEW
 * ===========
 */
#xmlCompare {
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    clear: left;
    height: 15em;
    margin-top: 0.5em;
    width: 100%;
}

#xmlContent, #xmlNewContent {
    width: 48%;
    overflow: auto;
    float: left;
    background-color: white;
    padding: 0.5em;
    border: 1px solid #AAA;
    font-size: 0.8em;
    font-family: "Consolas", "Courier New", Courier, mono;
    white-space: pre;
}

.xmlLine {
    float: left;
    clear: left;
}

.xmlLineDiff {
    background-color: #FFFF66;
}

/* ============
 *   TABLE
 * ============
 */
table {
    background-color: white;
    float: left;
    clear: both;
    margin-top: 1em;
    font-size: 0.8em;
}

th {
    text-align: left;
    background-color: #AAA;
}

th, td {
    padding: 0 1em;
}
table, th, td {
    border: 1px solid #AAA;
    border-collapse: collapse;
}

tr td:nth-child(1), tr td:nth-child(3), tr td:nth-child(4) {
    text-align: right;
}

.fileOK {
    color: green;
    font-size: 1.2em;
}

.fileNotOK {
    color: red;
    font-size: 1.2em;
}

/* =============
 *   LICENSE 
 * =============  
 */
#License {
    clear: both;
    width: 25%;
    margin: auto;
    padding-top: 2em;
    font-size: 0.6em;	
    text-align: center;	
}

